* {
    border-radius: 0 !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.panel-heading {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.panel {
    margin-bottom: 0;
}

.panel-body {
    padding: 2px;
}

.table > thead > tr > td {
    padding: 4px !important;
    font-size: 12px;
    text-align: center;
}

.table > tbody > tr > td {
    padding: 2px !important;
    font-size: 12px;
    text-align: center;
}

#main-container {
    position: absolute;
    bottom: 35px;
    top: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tabBar {
    width: 100%;
    max-height: 30px;
}

.tabBar > .nav > li > a {
    padding: 4px 10px;
}

.map {
    height: 56%;
    min-height: 56%;
    max-height: 56%;
    margin-bottom: 1%;
}

.targetInfo {
    height: 40%;
    min-height: 40%;
    max-height: 40%;
}

.navbar-default {
    background-color: #0767c8;
    border-color: #fff;
    border-bottom-width: 3px;
}

    .navbar-default .navbar-brand {
        color: #ecf0f1;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #d1ffed;
        }

    .navbar-default .navbar-text {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav > li > a {
        color: #ecf0f1;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #d1ffed;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #d1ffed;
        background-color: #0767c8;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #d1ffed;
        background-color: #0767c8;
    }

    .navbar-default .navbar-toggle {
        border-color: #0767c8;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #0767c8;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #ecf0f1;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #ecf0f1;
    }

    .navbar-default .navbar-link {
        color: #ecf0f1;
    }

        .navbar-default .navbar-link:hover {
            color: #d1ffed;
        }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #d1ffed;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #d1ffed;
        background-color: #0767c8;
    }
}
