<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Ks.Dust.Android.DataPresenter.Ks.Dust.Android.DataPresenter" 
					android:versionCode="1" 
					android:versionName="1.0" 
					android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="昆山扬尘在线监测平台"
							 android:theme="@style/ThemeCustomToolBar"></application>
</manifest>