<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ServerAddress" value="http://localhost"/>
    <add key="ServerPort" value="5538"/>
    <add key="IpServerAddress" value="114.55.175.99"/>
    <add key="IpServerPort" value="7071"/>
  </appSettings>
</configuration>