@using System.Web.Mvc

@{
    Layout = null;
}

<div id="toolbar" class="btn-group" style="margin-bottom: 5px;">
    <button type="button" class="btn btn-default" id="mantance_all" title="全部">
        <span>
            <img src="/Resources/Images/Site/32_32_all.png" style="height: 18px;" />
            查看全部设备
        </span>
    </button>
    <button type="button" class="btn btn-default" id="mantance_over" title="已过期">
        <span>
            <img src="/Resources/Images/Site/32_32_red.png" style="height: 18px;" />
            查看维保过期设备
        </span>
    </button>
    <button type="button" class="btn btn-default" id="mantance_need" title="快到期">
        <span>
            <img src="/Resources/Images/Site/32_32_yellow.png" style="height: 18px;" />
            查看维保快到期设备
        </span>
    </button>
</div>
<div>
    @(Html.BootstrapTable("deviceMantance", "/Setting/DeviceMantanceInfo", TablePaginationOption.server, new
{
    data_page_size = 25
})
          .Column("设备名称", "Name")
          .Column("供应商", "VendorName")
          .Column("工程名称", "ProjectName")
          .Column("联系人", "SuperIntend")
          .Column("联系电话", "Mobile")
          .Column("维保时间", "LastMaintenance")
          .Column("维保状态", "MantanceStatus")
          .Apply(ColumnOption.formatter, "mantanceStatusFormatter")
          .Column("维保记录")
          .Apply(ColumnOption.formatter, "mantanceRecordFormatter")
          .Apply(ColumnOption.events, "deviceOperateEvents"))
</div>

<div class="modal fade" id="dmrModal" tabindex="-1" role="dialog" aria-labelledby="dmrModallabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dmrModallabel"></h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var baseUrl = "/Setting/DeviceMantanceInfo";
    var mantanceStatus = {
        'Mantanced': 0,
        'NeedMantance': 1,
        'Overdue': 255
    }

    $('#mantance_all')
        .on('click',
        function () {
            refreshTable(baseUrl);
        });

    $('#mantance_over')
        .on('click',
        function () {
            refreshTable(baseUrl + '?MantanceStatus=255');
        });

    $('#mantance_need')
        .on('click',
        function () {
            refreshTable(baseUrl + '?MantanceStatus=1');
        });

    var refreshTable = function (url) {
        $('#deviceMantance')
            .bootstrapTable('refresh',
            {
                url: url
            });
    }

    var mantanceStatusFormatter = function (value) {
        if (value === mantanceStatus.Mantanced) {
            return '<img src="/Resources/Images/Site/32_32_green.png" />';
        } else if (value === mantanceStatus.NeedMantance) {
            return '<img src="/Resources/Images/Site/32_32_yellow.png" />';
        } else {
            return '<img src="/Resources/Images/Site/32_32_red.png" />';
        }
    }

    var mantanceRecordFormatter = function () {
        return [
            '<a class="view" href="javascript:void(0)" title="查看维保记录">查看</a>',
            '<a class="add" href="javascript:void(0)" title="添加维保记录" style="margin-left: 10px;">添加</a>'
        ].join('');
    }

    window.deviceOperateEvents = {
        'click .view': function (e, value, row) {
            $.get('/Setting/DeviceMantanceRecord', { deviceGuid: row.Id }, function (ret) {
                $('#dmrModal .modal-body').html(ret);
                $('#deviceMantanceRecord').bootstrapTable({
                    width: '600px'
                });
                $('#deviceMantanceRecord').bootstrapTable('refresh',
                    {
                        url: "/Setting/DeviceMantanceTable" + "?deviceGuid=" + row.Id
                    });
                $('#dmrModal').modal();
            });
        },
        'click .add': function (e, value, row) {
            $.get('/Setting/EditDeviceMantanceRecord', { deviceGuid: row.Id }, function (ret) {
                $('#dmrModal .modal-body').html(ret);
                $('#dmrModallabel').html('添加维保记录');
                $('#dmrModal').modal();
            });
        }
    };

    var deviceMantanceTable = function () {
        $('#deviceMantance').bootstrapTable({
            height: $('#deviceMantance').parents('.tab-content').height() - 75
        });
        $('#deviceMantance')
            .bootstrapTable('refresh',
            {
                url: $('#deviceMantance').attr('url')
            });
    }

    $(function () {
        deviceMantanceTable();
    });

</script>