@{
    Layout = null;
}
<div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="dmrModallabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<div>
    @(Html.BootstrapTable("roles", "/Setting/RoleTable", TablePaginationOption.server, new
      {
          data_page_size = 25
      })
          .Column("角色名称", "RoleName")
          .Column("操作")
          .Apply(ColumnOption.formatter, "roleOperaterFormatter")
          .Apply(ColumnOption.events, "roleOperateEvents"))
</div>

<script type="text/javascript">
    $('#roles').bootstrapTable({
        height: $('#roles').parents('.tab-content').height() - 75
    });
    window.roleOperaterFormatter = function () {
        return [
            '<a class="permission" href="javascript:void(0)" title="更新角色权限">权限管理</a>'
        ].join('');
    }

    window.roleOperateEvents = {
        'click .permission': function (e, value, row) {
            $.get('/Setting/RolePermissions', { id: row.Id }, function (ret) {
                $('#roleModal .modal-body').html(ret);
                $('#roleModal').modal();
            });
        }
    };
</script>
