@using Newtonsoft.Json
@model Dust.Platform.Web.Models.Report.ReportViewModel
@{
    ViewBag.Title = "报表";
}

@section styles{
    <link href="/Content/zTreeStyle.css" rel="stylesheet">
    <link href="/Content/bootstrap-table.min.css" rel="stylesheet" />
    <link href="/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}
<div style="position: relative; height: 100%;">
    <div class="col-lg-2 accroding-menu" style="height: 100%;">
        <div class="panel panel-info accroding-menu-item" style="margin-bottom: 0;">
            <div class="panel-heading">报表管理<span class="glyphicon glyphicon-plus" style="float: right"></span></div>
            <div class="panel-body" style="padding: 0; height: 100%;">
                <ul id="reporttree" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="col-lg-10" style="height: 100%; overflow-y: hidden;">
        <div class="tabBar" style="overflow-x: hidden;">
            <ul class="nav nav-tabs" role="tablist"></ul>
        </div>
        <div class="tab-content">
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Utility/jquery.ztree.all.min.js"></script>
    <script src="~/Scripts/Utility/chartsOption.js"></script>
    <script src="/Scripts/Utility/accrodingmenu.js"></script>
    <script src="/Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/Scripts/moment-with-locales.min.js"></script>
    <script src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        var tabPopUp = function (event, treeid, treenode) {
            if ($('.tabBar a[data-target=' + treenode.id + ']').length !== 0) {
                var existLi = $('.tabBar a[data-target=' + treenode.id + ']')[0];
                tabSwitch($(existLi));
                return;
            }
            var li = '<li role="presentation"><a data-target="' + treenode.id + '" href="#">' + treenode.name + '<span class="close">×</span></a></li>';
            $('.tabBar ul').append(li);
            $('.tabBar ul>li').removeClass('active');
            var currentli = $($('.tabBar ul>li')[$('.tabBar ul>li').length - 1]);
            currentli.addClass('active');
            var content =
                '<div class="present" data-id="' + treenode.id + '" style="height: 100%; padding: 5px; border: 1px solid #bce8f1; overflow: auto;"></div>';
            $('.present').hide();
            $('.tab-content').append(content);
            $.get(treenode.ajaxurl, treenode.routeValue,
                function (ret) {
                    $($('.present')[$('.present').length - 1]).append(ret);
                    if (treenode.callBack != null) {
                        window[treenode.callBack](treenode.param,
                            function() {
                                currentli.find('a').click(function() {
                                    tabSwitch(currentli.find('a'));
                                });
                            },
                            treenode);
                    } else {
                        currentli.find('a').click(function() {
                            tabSwitch(currentli.find('a'));
                        });
                    }
                    currentli.find('.close').click(function () {
                        $('.present[data-id="' + treenode.id + '"]').remove();
                        $(currentli).remove();
                        tabSwitch($('.tabBar ul>li:last').find('a'));
                    });
                });
        }

        var onLoadButtonClick = function (param, callback, treenode) {
            $('.reportloader').on('click', function (e) {
                loadReport(e);
            });
            callback();
        };

        var setupAvgReport = function (param, callback, treenode) {
            $('.datepicker').datetimepicker({
                locale: 'zh-cn',
                viewMode: 'years',
                format: 'YYYY-MM'
            });
            $('#avg-report-table').bootstrapTable({
                height: $('#avg-report-table').parents('.present').height() - 60
            });
            $('#avg-query-button').on('click', function() {
                $('#avg-report-table').bootstrapTable('refresh', {
                    url: '/Report/AvgReportTable?start=' + $('#avgrpStart').val() + '&end=' + $('#avgrpEnd').val() + '&percent=' + $('#avgPercent').val()
                });
            });

            callback();
        }

        var tabSwitch = function (a) {
            $('.tabBar ul>li').removeClass('active');
            $(a).parent('li').addClass('active');
            $('.present').hide();
            $('.present[data-id="' + $(a).attr('data-target') + '"]').show();
        }
        var treeNodes = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.MenuNodes))');
        var setting = {
            view: {
                selectedMulti: false
            },
            callback: {
                onClick: tabPopUp
            }
        }

        $.fn.zTree.init($('#reporttree'), setting, treeNodes);

        var loadReport = function (event) {
            var panel = $(event.target).parents('.panel-info')[0];
            $.get('/Report/Report?id=' + $(panel).find('.reportSelecter').val(), null, function (ret) {
                $(panel).find('.reportContent').empty();
                $(panel).find('.reportContent').append(ret);
                var optionData = JSON.parse($(panel).find('.barOptions').val());
                var option = chartsOption.barOption(optionData);
                option['legend'] = {
                    data: ['PM', 'PM2.5', 'PM10']
                };
                option['color'] = ['#3398DB', '#449d44', '#286090'];
                option.title = {};
                var chart = echarts.init($(panel).find('.districtChart')[0]);
                chart.setOption(option);
                $(panel).find('a').prop('href', '/Report/ExportPeriodicReport?id=' + $(panel).find('.reportSelecter').val());
            });
        }
    </script>
}
