@model List<Dust.Platform.Storage.Model.Report>
@{
    Layout = null;
    ViewBag.Title = null;
}

<div class="panel panel-info">
    <div class="panel-heading">
        <div style="">
            <a class="glyphicon glyphicon-floppy-save" download href="" style="float: right; margin-top: 12px; cursor: pointer;" title="导出为Excel"></a>
            <select class="reportSelecter" style="width: 180px; height: 36px;">
                @{
                    foreach (var report in Model)
                    {
                        <option value="@report.Id">@report.ReportDate</option>
                    }
                }
            </select>
            <input type="button" class="btn btn-primary reportloader" style="margin-left: 25px; width: 75px;" value="确认"/>
        </div>
    </div>
    <div class="panel-body reportContent" style="overflow-y: auto;">
    </div>
</div>
<script type="text/javascript">
    $('.reportSelecter').select2();
</script>