@using Dust.Platform.Web.Models.Home
@model MonitorContentPost
@{
    Layout = null;
}

<div class="col-lg-6" style="height: 100%; padding: 2px;">
    <div class="map panel panel-info" id="@Model.MapContainer"></div>
    <div class="targetInfo">
        <div class="panel panel-info">
            <div class="panel-heading">全市信息</div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
<div class="col-lg-6" style="height: 100%; min-height: 40%; max-height: 40%; padding: 2px;">
    
</div>