@using Newtonsoft.Json
@using Dust.Platform.Web.Models.Home
@model StatisticsViewModel

@{
    ViewBag.Title = "统计";
}

@section styles{
    <link href="/Content/zTreeStyle.css" rel="stylesheet">
    <link href="/Content/bootstrap-table.min.css" rel="stylesheet" />
    <link href="/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}
<div style="position: relative; height: 100%;">
    <div class="col-lg-2 accroding-menu" style="height: 100%;">
        <div class="panel panel-info accroding-menu-item" style="margin-bottom: 0;">
            <div class="panel-heading">信息管理<span class="glyphicon glyphicon-plus" style="float: right"></span></div>
            <div class="panel-body" style="padding: 0">
                <ul id="infotree" class="ztree"></ul>
            </div>
        </div>
        <div class="panel panel-info accroding-menu-item" style="margin-bottom: 0;">
            <div class="panel-heading">历史查询<span class="glyphicon glyphicon-plus" style="float: right"></span></div>
            <div class="panel-body" style="padding: 0;">
                <div>
                    <input class="form-control search-input" id="querytreeSearch" placeholder="输入关键字搜索">
                </div>
                <div style="overflow-x: auto;">
                    <ul id="querytree" class="ztree"></ul>
                </div>
            </div>
        </div>
        <div class="panel panel-info accroding-menu-item" style="margin-bottom: 0;">
            <div class="panel-heading">历史统计<span class="glyphicon glyphicon-plus" style="float: right"></span></div>
            <div class="panel-body" style="padding: 0;">
                <div>
                    <input class="form-control search-input" id="historytreeSearch" placeholder="输入关键字搜索">
                </div>
                <div  style="overflow-x: auto;">
                    <ul id="historytree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10" style="height: 100%; overflow-y: hidden;">
        <div class="tabBar" style="overflow-x: hidden;">
            <ul class="nav nav-tabs" role="tablist"></ul>
        </div>
        <div class="tab-content">
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Utility/jquery.ztree.all.min.js"></script>
    <script src="~/Scripts/Utility/jquery.ztree.exhide.min.js"></script>
    <script src="/Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/Scripts/moment-with-locales.min.js"></script>
    <script src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/Utility/chartsOption.js"></script>
    <script src="/Scripts/Utility/accrodingmenu.js"></script>
    <script type="text/javascript">
        var treeNodes = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.QueryMenuNodes))');
        var statsNodes = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.StatsMenuNodes))');
        var dataType = {
            0: '粉尘(mg/m³)',
            1: 'Pm2.5(mg/m³)',
            2: 'Pm10(mg/m³)',
            3: '噪音(dB)',
            4: '温度(℃)',
            5: '湿度(%)',
            6: '风速(m/s)'
        }
        var tabSwitch = function (a) {
            $('.tabBar ul>li').removeClass('active');
            $(a).parent('li').addClass('active');
            $('.present').hide();
            $('.present[data-id="' + $(a).attr('data-target') + '"]').show();
        }
        var tabPopUp = function (event, treeid, treenode) {
            if ($('.tabBar a[data-target=' + treenode.id + '-' + treenode.nodetype + ']').length !== 0) {
                var existLi = $('.tabBar a[data-target=' + treenode.id + '-' + treenode.nodetype + ']')[0];
                tabSwitch($(existLi));
                return;
            }
            var li = '<li role="presentation"><a data-target="' + treenode.id + '-' + treenode.nodetype + '" href="#">' + treenode.name + treenode.tabTailfix + '</a></li>';
            $('.tabBar ul').append(li);
            $('.tabBar ul>li').removeClass('active');
            var currentli = $($('.tabBar ul>li')[$('.tabBar ul>li').length - 1]);
            currentli.addClass('active');
            var content =
                '<div class="present" data-id="' + treenode.id + '-' + treenode.nodetype + '" style="height: 100%; padding: 5px; border: 1px solid #bce8f1;"></div>';
            $('.present').hide();
            $('.tab-content').append(content);
            $.get(treenode.ajaxurl, treenode.routeValue,
                function (ret) {
                    $($('.present')[$('.present').length - 1]).append(ret);
                    if (treenode.callBack != null) {
                        window[treenode.callBack](treenode.param,
                            function() {
                                currentli.find('a').click(function() {
                                    tabSwitch(currentli.find('a'));
                                });
                            },
                            treenode);
                    } else {
                        currentli.find('a').click(function() {
                            tabSwitch(currentli.find('a'));
                        });
                    }
                });
        }
        var setting = {
            view: {
                selectedMulti: false
            },
            callback: {
                onClick: tabPopUp
            }
        }

        var setupTable = function (par, callback) {
            $('#' + par.table).bootstrapTable({
                height: $('#' + par.table).parents('.present').height() - 60
            });
            $('#' + par.table).bootstrapTable('refresh', {
                url: par.url
            });
            var baseUrl = par.url;
            $('#totalProjects .query-button').on('click', function () {
                $('#' + par.table).bootstrapTable('refresh', {
                    url: baseUrl + '?district=' + $('#districtSelecter').val() + '&enterprise=' + $('#projectSelecter').val()
                });
            });

            callback();
        }

        var setupRankChart = function (par, callback) {
            $('#' + 'start_' + par.Uuid).datetimepicker({
                locale: 'zh-cn',
                format: 'YYYY年MM月DD日 HH点mm分'
            });
            $('#' + 'end_' + par.Uuid).datetimepicker({
                locale: 'zh-cn',
                format: 'YYYY年MM月DD日 HH点mm分'
            });
            $('#chart_' + par.Uuid).height($('#chart_' + par.Uuid).parents('.chartContainer').height() - 30);
            var chart = echarts.init(document.getElementById('chart_' + par.Uuid));
            $('#historyRank_' + par.Uuid + ' .query-button').on('click', function () {
                $('#table_' + par.Uuid).bootstrapTable({
                    height: $('#table_' + par.Uuid).parents('.panel').parent('div').height() - 20
                });
                $('#table_' + par.Uuid)
                    .bootstrapTable('refresh',
                    {
                        url: par.url +
                            '?type=' +
                            par.type +
                            '&dataType=' +
                            $('#historyRank_' + par.Uuid + ' .dataSelect').val() +
                            '&start=' +
                            $('#' + 'start_' + par.Uuid).data('DateTimePicker').date()._d.toJSON() +
                            '&end=' +
                            $('#' + 'end_' + par.Uuid).data('DateTimePicker').date()._d.toJSON() +
                            '&dateType=' +
                            $('#historyRank_' + par.Uuid + ' .dateSelect').val()

                    });
                $.post('/Statistics/HistoryRankChart',
                {
                    Type: par.type,
                    DataType: $('#historyRank_' + par.Uuid + ' .dataSelect').val(),
                    DateType: $('#historyRank_' + par.Uuid + ' .dateSelect').val(),
                    Start: $('#' + 'start_' + par.Uuid).data('DateTimePicker').date()._d.toJSON(),
                    End: $('#' + 'end_' + par.Uuid).data('DateTimePicker').date()._d.toJSON()
                }, function (ret) {
                    chart.setOption(chartsOption.barOption({
                        title: "昆山市区县颗粒物小时均值",
                        xAxis: ret.map(function (d) { return d.Name }),
                        yAxisName: dataType[$('#historyRank_' + par.Uuid + ' .dataSelect').val()],
                        series: [{ name: $('#historyRank_' + par.Uuid + ' .dataSelect').find("option:selected").text(), type: 'bar', data: ret.map(function (d) { return d.Avg }) }]
                    }));
                });
            });

            $('#historyRank_' + par.Uuid + ' .query-button').click();
            callback();
        }

        var setupHistoryQuery = function (par, callback, node) {
            var tarId = node.routeValue.TargetId;
            $('#' + 'hqstart_' + tarId).datetimepicker({
                locale: 'zh-cn',
                format: 'YYYY年MM月DD日 HH点mm分'
            });
            $('#' + 'hqend_' + tarId).datetimepicker({
                locale: 'zh-cn',
                format: 'YYYY年MM月DD日 HH点mm分'
            });
            $('#hqchart_' + tarId).height($('#hqchart_' + tarId).parents('.chartContainer').height() - 30);
            var chart = echarts.init(document.getElementById('hqchart_' + tarId));
            $('#historyQuery_' + tarId + ' .query-button').on('click', function () {
                $('#hqtable_' + tarId).bootstrapTable({
                    height: $('#hqtable_' + tarId).parents('.panel').parent('div').height() - 50
                });
                $('#hqtable_' + tarId)
                    .bootstrapTable('refresh',
                    {
                        url: '/Statistics/HistoryQueryTable' +
                            '?type=' +
                            node.viewType +
                            '&id=' +
                            node.id +
                            '&start=' +
                            $('#' + 'hqstart_' + tarId).data('DateTimePicker').date()._d.toJSON() +
                            '&end=' +
                            $('#' + 'hqend_' + tarId).data('DateTimePicker').date()._d.toJSON()

                    });
                $.post('/Statistics/HistoryChart',
                {
                    Id: tarId,
                    Type: node.viewType,
                    DataType: $('#historyQuery_' + tarId + ' .dataSelect').val(),
                    DateType: $('#historyQuery_' + tarId + ' .dateSelect').val(),
                    Start: $('#' + 'hqstart_' + tarId).data('DateTimePicker').date()._d.toJSON(),
                    End: $('#' + 'hqend_' + tarId).data('DateTimePicker').date()._d.toJSON()
                }, function (ret) {
                    chart.setOption(chartsOption.timelineOptions({
                        title: node.name + '-' + dataType[$('#historyQuery_' + tarId + ' .dataSelect').val()],
                        yAxisName: dataType[$('#historyQuery_' + tarId + ' .dataSelect').val()],
                        data: ret
                    }));
                });
            });

            $('#historyQuery_' + tarId + ' .query-button').click();

            callback();
        }

        var setupHistoryStats = function (par, callback, node) {
            var tarId = node.routeValue.TargetId;
            $('#' + 'hsstart_' + tarId).datetimepicker({
                locale: 'zh-cn',
                format: 'YYYY年MM月DD日 HH点mm分'
            });
            $('#' + 'hsend_' + tarId).datetimepicker({
                locale: 'zh-cn',
                format: 'YYYY年MM月DD日 HH点mm分'
            });
            $('#hschart_' + tarId).height($('#hschart_' + tarId).parents('.chartContainer').height() - 30);
            var chart = echarts.init(document.getElementById('hschart_' + tarId));
            $('#historyStats_' + tarId + ' .query-button').on('click', function () {
                $('#hstable_' + tarId).bootstrapTable({
                    height: $('#hstable_' + tarId).parents('.panel').parent('div').height() - 50
                });
                $('#hstable_' + tarId)
                    .bootstrapTable('refresh',
                    {
                        url: '/Statistics/HistoryStatsTable' +
                            '?type=' +
                            node.viewType +
                            '&dataType=' +
                            $('#historyStats_' + tarId + ' .dateSelect').val() +
                            '&id=' +
                            node.id +
                            '&start=' +
                            $('#' + 'hsstart_' + tarId).data('DateTimePicker').date()._d.toJSON() +
                            '&end=' +
                            $('#' + 'hsend_' + tarId).data('DateTimePicker').date()._d.toJSON()

                    });
                $.post('/Statistics/HistoryChart',
                {
                    Id: tarId,
                    Type: node.viewType,
                    DateType: $('#historyStats_' + tarId + ' .dateSelect').val(),
                    DataType: $('#historyStats_' + tarId + ' .dataSelect').val(),
                    Start: $('#' + 'hsstart_' + tarId).data('DateTimePicker').date()._d.toJSON(),
                    End: $('#' + 'hsend_' + tarId).data('DateTimePicker').date()._d.toJSON()
                }, function (ret) {
                    chart.setOption(chartsOption.timelineOptions({
                        title: node.name + '-' + dataType[$('#historyStats_' + tarId + ' .dataSelect').val()],
                        yAxisName: dataType[$('#historyStats_' + tarId + ' .dataSelect').val()],
                        data: ret
                    }));
                });
            });

            $('#historyStats_' + tarId + ' .query-button').click();

            callback();
        }

        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                  .toString(16)
                  .substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
              s4() + '-' + s4() + s4() + s4();
        }

        var disGuid = guid();
        var prjGuid = guid();
        var basicNodes = [
            {
                name: "全市工地查询",
                id: 0,
                ajaxurl: '/Statistics/Projects',
                callBack: 'setupTable',
                tabTailfix: '',
                param: { table: 'projectTable', url: '/Statistics/GetProjects' }
            },
            {
                name: "各区县信息",
                id: 1,
                ajaxurl: '/Statistics/Districts',
                callBack: 'setupTable',
                tabTailfix: '',
                param: { table: 'districtTable', url: '/Statistics/GetDistricts' }
            },
            {
                name: "区县颗粒物排名",
                id: 2,
                ajaxurl: '/Statistics/HistoryRank',
                callBack: 'setupRankChart',
                tabTailfix: '',
                routeValue: { Type: 0, Uuid: disGuid },
                param: {
                    Uuid: disGuid,
                    type: 3,
                    url: '/Statistics/HistoryRankTable'
                }
            },
            {
                name: "工地颗粒物排名",
                id: 3,
                ajaxurl: '/Statistics/HistoryRank',
                callBack: 'setupRankChart',
                tabTailfix: '',
                routeValue: { Type: 1, Uuid: prjGuid },
                param: {
                    Uuid: prjGuid,
                    type: 1,
                    url: '/Statistics/HistoryRankTable'
                }
            },
            {
                name: "数据综合对比",
                id: 4,
                ajaxurl: '/Statistics/GeneralComparison',
                tabTailfix: ''
            }
        ];
        $.fn.zTree.init($('#infotree'), setting, basicNodes);
        var querytree = $.fn.zTree.init($('#querytree'), setting, treeNodes);
        var historytree = $.fn.zTree.init($('#historytree'), setting, statsNodes);
        $('#infotree_1_a').click();
        $('#querytreeSearch').on('input propertychange', function () {
            hideAllNodes(querytree, querytree.getNodes());
            var reg = new RegExp($('#querytreeSearch').val());
            var showNodes = regNodes(reg, querytree.getNodes());
            querytree.showNodes(showNodes);
            if ($('.search-input').val().trim().length === 0) {
                querytree.expandAll(false);
            } else {
                querytree.expandAll(true);
            }
        });

        $('#historytreeSearch').on('input propertychange', function () {
            hideAllNodes(historytree, historytree.getNodes());
            var reg = new RegExp($('#historytreeSearch').val());
            var showNodes = regNodes(reg, historytree.getNodes());
            historytree.showNodes(showNodes);
            if ($('.search-input').val().trim().length === 0) {
                historytree.expandAll(false);
            } else {
                historytree.expandAll(true);
            }
        });

        var hideAllNodes = function (ztreeobj, nodes) {
            $.each(nodes, function (index, node) {
                if (node.isParent) {
                    hideAllNodes(ztreeobj, node.children);
                }
            });

            ztreeobj.hideNodes(nodes);
        }

        var regNodes = function (reg, nodes) {
            var matchedNodes = [];
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].isParent) {
                    var matchChild = regNodes(reg, nodes[i].children);
                    if (matchChild.length > 0 || reg.test(nodes[i].name)) {
                        matchedNodes.push(nodes[i]);
                        matchedNodes = matchedNodes.concat(matchChild);
                    }
                } else if (reg.test(nodes[i].name)) {
                    matchedNodes.push(nodes[i]);
                }
            }

            return matchedNodes;
        }
    </script>
}