@using Newtonsoft.Json
@using Dust.Platform.Web.Models.Home
@model StatisticsViewModel

@{
    ViewBag.Title = "统计";
}

@section styles{
    <link href="/Content/zTreeStyle.css" rel="stylesheet">
    <link href="/Content/bootstrap-table.min.css" rel="stylesheet" />
}
<div style="position: relative; height: 100%;">
    <div class="col-lg-2 accroding-menu" style="height: 100%;">
        <div class="panel panel-info accroding-menu-item" style="margin-bottom: 0;">
            <div class="panel-heading">信息管理<span class="glyphicon glyphicon-plus" style="float: right"></span></div>
            <div class="panel-body" style="padding: 0">
                <ul id="infotree" class="ztree"></ul>
            </div>
        </div>
        <div class="panel panel-info accroding-menu-item" style="margin-bottom: 0;">
            <div class="panel-heading">历史查询<span class="glyphicon glyphicon-plus" style="float: right"></span></div>
            <div class="panel-body" style="padding: 0;">
                <ul id="querytree" class="ztree"></ul>
            </div>
        </div>
        <div class="panel panel-info accroding-menu-item" style="margin-bottom: 0;">
            <div class="panel-heading">历史统计<span class="glyphicon glyphicon-plus" style="float: right"></span></div>
            <div class="panel-body" style="padding: 0;">
                <ul id="historytree" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="col-lg-10" style="height: 100%; overflow-y: hidden;">
        <div class="tabBar" style="overflow-x: hidden;">
            <ul class="nav nav-tabs" role="tablist">
            </ul>
        </div>
        <div class="tab-content">
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Utility/jquery.ztree.all.min.js"></script>
    <script src="/Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/Scripts/Utility/accrodingmenu.js"></script>
    <script type="text/javascript">
        var treeNodes = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.MenuNodes))');
        var tabSwitch = function (a) {
            $('.tabBar ul>li').removeClass('active');
            $(a).parent('li').addClass('active');
            $('.present').hide();
            $('.present[data-id="' + $(a).attr('data-target') + '"]').show();
        }
        var tabPopUp = function (event, treeid, treenode) {
            if ($('.tabBar a[data-target=' + treenode.id + ']').length !== 0) {
                var existLi = $('.tabBar a[data-target=' + treenode.id + ']')[0];
                tabSwitch($(existLi));
                return;
            }
            var li = '<li role="presentation"><a data-target="' + treenode.id + '" href="#">' + treenode.name + '</a></li>';
            $('.tabBar ul').append(li);
            $('.tabBar ul>li').removeClass('active');
            var currentli = $($('.tabBar ul>li')[$('.tabBar ul>li').length - 1]);
            currentli.addClass('active');
            var content =
                '<div class="present" data-id="' + treenode.id + '" style="height: 100%; padding: 5px; border: 1px solid #bce8f1;"></div>';
            $('.present').hide();
            $('.tab-content').append(content);
            $.get(treenode.ajaxurl, treenode.routeValue,
                function (ret) {
                    $($('.present')[$('.present').length - 1]).append(ret);
                    if (treenode.callBack != null) {
                        window[treenode.callBack](treenode.param, function() {
                            currentli.find('a').click(function () {
                                tabSwitch(currentli.find('a'));
                            });
                        });
                    }
                });
        }
        var setting = {
            view: {
                selectedMulti: false
            },
            callback: {
                onClick: tabPopUp
            }
        }

        var setupTable = function (par, callback) {
            $('#' + par.table).bootstrapTable();
            $('#' + par.table).bootstrapTable('refresh', {
                url: par.url
            });

            callback();
        }

        var basicNodes = [
            { name: "全市工地查询", id: 0, ajaxurl: '/Statistics/Projects', callBack: 'setupTable', param: { table: 'projectTable', url: '/Statistics/GetProjects' } },
            { name: "各区县信息", id: 1, ajaxurl: '/Statistics/Districts', callBack: 'setupTable', param: { table: 'districtTable', url: '/Statistics/GetDistricts' } },
            { name: "区县颗粒物排名", id: 2, ajaxurl: '/Statistics/DistrictRank' },
            { name: "工地颗粒物排名", id: 3, ajaxurl: '/Statistics/ProjectRank' }
        ];
        $.fn.zTree.init($('#infotree'), setting, basicNodes);
        $.fn.zTree.init($('#querytree'), setting, treeNodes);
        $.fn.zTree.init($('#historytree'), setting, treeNodes);
    </script>
}