@{
    ViewBag.Title = "站内信";
}

@section styles{
    <link href="/Content/bootstrap-table.min.css" rel="stylesheet" />
}

<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModallabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="msgModallabel"></h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div id="noticeLeftTool" class="form-inline" style="display: none;">
    <input id="btnDeleteNotice" type="button" class="btn btn-danger" value="删除选中消息" />
    <select class="form-control" style="width: 120px; margin-right: 30px;">
        <option value="">全部消息</option>
        <option value="false">未读消息</option>
        <option value="true">已读消息</option>
    </select>
    <input type="button" class="btn btn-default btn-noticeType active" value="全部消息类型" />
    <input type="button" class="btn btn-default btn-noticeType" data-btn-type="0" value="超标报警" />
</div>

<div class="col-lg-12">
    <div class="panel panel-info">
        <div class="panel-heading">系统消息</div>
        <div class="panel-body">
            <div>
                @(Html.BootstrapTable("userclientnotices", "", TablePaginationOption.server, new
            {
                data_page_size = 25,
                data_toolbar = "#noticeLeftTool",
                data_checkbox_header = "true"
            })
                      .Column("State")
                      .Apply(ColumnOption.checkbox, "True")
                      .Column("标题内容", "NoticeTitle")
                      .Apply(ColumnOption.formatter, "MessageTitleFormatter")
                      .Apply(ColumnOption.events, "messageOperateEvents")
                      .Column("消息时间", "NoticeTime")
                      .Apply(ColumnOption.width, "150")
                      .Column("类型", "NoticeType")
                      .Apply(ColumnOption.width, "100"))
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="/Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript">
        window.MessageTitleFormatter = function (value, row) {
            var cls = 'notice';
            if (row.IsReaded) {
                cls += ' readed';
            }
            return '<a class="' + cls + '" href="javascript:void(0)">' + value + '</a>';
        }
        var msgParams = {
            MessageType: null,
            MessageStatus: null
        };
        $('#userclientnotices').bootstrapTable({
            url: '/Admin/MessageTable',
            queryParams: function (params) {
                params.Type = msgParams.MessageType;
                params.Status = msgParams.MessageStatus;
                return params;
            }
        });

        $('#noticeLeftTool').show();
        $('#noticeLeftTool').on('change', function () {
            if ($('#noticeLeftTool option:selected').val().length > 0) {
                msgParams.MessageStatus = $('#noticeLeftTool option:selected').val() == 'true';
            } else {
                msgParams.MessageStatus = null;
            }
            $('#userclientnotices').bootstrapTable('refresh',
                {
                    url: '/Admin/MessageTable'
                });
        });

        $('#btnDeleteNotice').on('click', function () {
            if (!confirm('确定要删除选中消息吗？')) return;
            var msgIds = $('#userclientnotices').bootstrapTable('getSelections', null)
                .map(function (row) { return row.Id });
            if (msgIds.length === 0) return;
            $.post('/Admin/DeleteNotice', { type:0, notices: msgIds }, function () {
                $('#userclientnotices').bootstrapTable('refresh',
                    {
                        url: '/Admin/MessageTable'
                    });
            });
        });

        window.messageOperateEvents = {
            'click .notice': function (e, value, row) {
                e.target.className += ' readed';
                $('#msgModallabel').html(row.NoticeTitle);
                $('#msgModal .modal-body').html(row.NoticeContent);
                $('#msgModal').modal();
                if (!row.IsReaded) {
                    $.get('/Admin/NoticeReaded', { type: 0, noticeId: row.Id });
                }
            }
        };

        $('.btn-noticeType').on('click', function (e) {
            $('.btn-noticeType').removeClass('active');
            $(e.target).addClass('active');
            msgParams.MessageType = $(e.target).data('btn-type');
            $('#userclientnotices').bootstrapTable('refresh',
                {
                    url: '/Admin/MessageTable'
                });
        });
    </script>
}